@import "../../assets/colors/colors.scss";

.character-container {
  background-color: white;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}
