@import "../../assets/colors/colors.scss";

.footer-container {
  background-color: $complementary-third;
  height: 480px;
  padding-top: 195px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    margin-top: 6rem;
  }
}
